<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/CardGrid.html
-->
<div id="news-container-{contentObjectData.uid}">
    <f:switch expression="{columns}">
        <f:defaultCase><f:variable name="columnClasses">col-12 </f:variable></f:defaultCase>
        <f:case value="2"><f:variable name="columnClasses">col-12 col-lg-6</f:variable></f:case>
        <f:case value="3"><f:variable name="columnClasses">col-12 col-md-6 col-lg-4 </f:variable></f:case>
        <f:case value="4"><f:variable name="columnClasses">col-12 col-md-6 col-lg-3</f:variable></f:case>
    </f:switch>
    <f:if condition="{settings.hidePagination}">
        <f:then>
            <f:render section="NewsList" arguments="{news:news, settings:settings, columnClasses:columnClasses}"/>
        </f:then>
        <f:else>
            <f:if condition="{settings.list.paginate.insertAbove}">
                <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>
            <f:render section="NewsList" arguments="{news:pagination.paginator.paginatedItems, settings:settings, columnClasses:columnClasses}"/>
            <f:if condition="{settings.list.paginate.insertBelow}">
                <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>
        </f:else>
    </f:if>
</div>

<f:section name="NewsList">
    <div class="row">
        <f:for each="{news}" as="newsItem" iteration="iterator">
            <div class="{columnClasses} mb-5">
                <f:render partial="List/CardItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator,cardClass: 'h-100 mb-5'}" />
            </div>
        </f:for>
    </div>
</f:section>

</html>