<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="footer">
    <p>
        <!-- date -->
        <span class="news-list-date">
						<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
							<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
						</time>
					</span>

        <f:if condition="{newsItem.categories}">
            <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
        </f:if>

        <f:if condition="{newsItem.tags}">
            <!-- Tags -->
            <span class="news-list-tags" itemprop="keywords">
						<f:for each="{newsItem.tags}" as="tag">
							{tag.title}
						</f:for>
						</span>
        </f:if>

        <f:if condition="{newsItem.author}">
            <!-- author -->
            <span class="news-list-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
							<f:translate key="author_simple" /> <span itemprop="name">{newsItem.author}</span>
						</span>
        </f:if>
    </p>
</div>
</html>