<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:render partial="Detail/Teaser" arguments="{_all}" />

<div class="row">
    <div class="col-12 col-md-4">
        <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.mediaNonPreviews, settings:settings}" />
        <f:if condition="{newsItem.contentElements}">
            <!-- content elements -->
            <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
        </f:if>
    </div>
    <div class="col-12 col-md-8">
        <!-- main text -->
        <div class="news-text-wrap" itemprop="articleBody">
            <f:format.html>{newsItem.bodytext}</f:format.html>
        </div>
        <f:if condition="{newsItem.contentElementsCol2}">
            <!-- content elements -->
            <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementsCol2IdList}</f:cObject>
        </f:if>
    </div>
</div>


</html>